.header {
  width: calc(100% - #{$sidebar-width});
  height: $header-height;

  position: fixed;
  top: 0;
  right: 0;

  z-index: 1000;

  background-color: $bg-color;

  &__container {
    margin: 0 auto;
    padding: 0 $header-padding-x;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
  }

  &__group {
    display: flex;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    color: black;

    border-right: 1px solid lightgray;

    padding: 0 20px;

    &:last-child {
      border-right: unset;
      padding-right: 0;
    }

    .notification-icon {
      font-size: 30px;
      color: lightgray;

      cursor: pointer;
    }

    .circle {
      display: block;
      position: absolute;
      content: "";

      width: 12px;
      height: 12px;
      border-radius: 50%;
      top: 2px;
      right: 22px;

      border: 1px solid white;

      background-color: red;
    }

    .bank {
      font-size: 24px;
      font-weight: 500;

      color: #7f1fd7;
      text-transform: uppercase;
    }

    .arrow-icon {
      font-size: 34px;
      color: lightgray;
      margin-left: 5px;

      cursor: pointer;
    }
  }

  .toggle-nav-btn {
    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;

    svg {
      font-size: 40px;
      color: #7f1fd7;
    }
  }
}

