.invoice-detail {

  &__container {
    max-width: $container-width;

    padding: 0 20px;
    margin: 0 auto;
  }

  &__header {
    font-size: 14px;
    font-weight: 400;

    margin: 0 0 40px 20px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;

    margin-bottom: 20px;

    &--column {
      flex-direction: column;
      align-items: unset;
    }
  }

  &__operation {
    .invoice-detail__heading {
      margin: 0 0 30px 0;
    }

    .invoice-detail__group {
      .invoice-detail__heading {
        margin: 30px 20px 30px 0 ;
      }

      .divider {
        flex: 1;
        height: 2px;
        border: 1px dashed rgba(0,0,0,0.3);
      }

      &:first-of-type {
        .invoice-detail__item:last-child {
          text-align: end;
        }
      }
    }

    .invoice-detail__item {
      flex: 0 0 20%;
    }
  }

  &__block#main-detail {

    .invoice-detail__group {

      .invoice-detail__item {
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

  }

  &__group-block {
    display: flex;

    .invoice-detail__block {
      display: flex;
      flex-wrap: wrap;

      &:first-child {
        margin-right: 20px;

        .invoice-detail__item {
          flex: 0 0 33.33%;
        }
      }

      &:last-child {
        .invoice-detail__item {

          &:last-child {
            width: 100px;
            margin-top: 40px;
          }
        }
      }
    }
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: #bbbbbb;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-weight: bold;

    &--red {
      color: red;
    }

    &--blue {
      color: #1279ff;
    }

    &--grey {
      color: #8c9d93;
    }
  }

  &__btn {
    width: 120px;
    color: white;

    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;

  }
}