.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: $sidebar-width;
  height: 100vh;

  background: linear-gradient(180deg, #63408E 0%, #4C3E87 100%);
  box-shadow: 7px 4px 15px rgba(0, 0, 0, 0.15);

  color: white;

  overflow: hidden;

  padding: 30px;

  &__header {
    font-size: 40px;
    margin: 0 0 60px;
  }
}

.navbar {
  font-size: 20px;

  .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__item {
      position: relative;
      margin-bottom: 15px;
    }

    &__link {

    }

    &__link.active {
      color: #ff7a49;

      &:after {
        position: absolute;
        content: "";
        top: -5px;
        right: -44px;
        width: 20px;
        height: 35px;
        border-radius: 7px;
        background-color: #ff7a49;
      }
    }
  }
}