.sidebar {
  flex: 0 0 auto;
  width: 220px;
  height: 100vh;

  background-color: #7f1fd7;

  color: white;

  overflow: hidden;

  padding: 30px;

  &__header {
    font-size: 40px;
    margin: 0 0 60px;
  }
}

.navbar {
  font-size: 20px;

  .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__item {
      position: relative;
      margin-bottom: 15px;
    }

    &__link {

    }

    &__link.active {
      color: #ff7a49;

      &:after {
        position: absolute;
        content: "";
        top: -5px;
        right: -44px;
        width: 20px;
        height: 35px;
        border-radius: 7px;
        background-color: #ff7a49;
      }
    }
  }
}