@import "~normalize.css";
@import "variables";

html
{
  font-size: 15px;
}

*,
*::before,
*::after
{
  box-sizing: border-box;
}

body
{
  line-height: normal;
  min-width: 320px;

  margin: 0;

  color: #000;
  background-color: #fff;
}

body.modal-active
{
  overflow: hidden;
}

img
{
  max-width: 100%;
}

a
{
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.App {
  background-color: $bg-color;

  overflow: hidden;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.sidebar {
  flex: 0 0 250px;

  background-color: green;
}

.content {
  flex: 1 1 auto;
  padding: 0 20px;
  overflow: hidden;
}

.table {
  margin-top: 100px;
  overflow-x: auto;

  & > .row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:
            minmax(40px, 1fr)
            minmax(120px, 2fr)
            minmax(100px, 2fr)
            minmax(100px, 1.5fr)
            minmax(200px, 4fr);

    //justify-content: space-between;

    word-break: break-all;
    gap: 10px;

    //border: 1px solid black;

    &:hover {
      background-color: red;
    }

    .item {
      border: 1px solid black;
    }
  }
}