@import "~normalize.css";
@import "variables";

html
{
  font-size: 15px;
}

*,
*::before,
*::after
{
  box-sizing: border-box;
}

body
{
  line-height: normal;
  min-width: 320px;

  margin: 0;

  color: #000;
  background-color: #fff;
}

body.modal-active
{
  overflow: hidden;
}

img
{
  max-width: 100%;
}

a
{
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.App {
  background-color: $bg-color;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  padding-left: $sidebar-width;
  margin-top: calc(10px + #{$header-height});
}

.btn {
  &--blue {
    background-color: #5ee2ff;
  }
  &--green {
    background-color: #00ca61;
  }
}

@import "header";
@import "sidebar";
@import "invoice-table";
@import "invoice-detail";