.table {
  overflow-x: auto;

  &__container {
    width: $container-width;
    margin: 0 auto;
    padding: 25px 20px;

    background-color: #ffffff;

    border-radius: 10px;

  }

  &__title {
    font-size: 24px;
    margin: 0 0 5px;
  }

  &__subtitle {
    display: block;
    color: grey;

    margin-bottom: 30px;
    padding-left: 2px;
  }

  &__group {
    padding: 0 30px;
  }

  &__item {
    display: flex;

    margin-bottom: 15px;
  }

  &__headers {
    display: flex;
  }

  &__header {
    flex: 0 1 15%;
    display: flex;
    align-items: center;

    svg {
      cursor: pointer;
    }
  }

  &__item {

    .status-btn {
      outline: none;
      border-radius: 5px;
      border: none;

      padding: 5px 10px;


      &--success {
        background-color: lightgreen;
      }
    }
  }


}

.dropdown {
  display: flex;

  border-top: 1px solid gray;

  margin: 0 20px;

  &__group {
    flex: 0 1 86%;
    display: flex;
    flex-wrap: wrap;

    width: auto;
  }

  &__img {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 120px;
      height: auto;
    }
  }

  &__item {
    flex: 0 1 24%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 10px 0;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__subtitle {
    font-weight: 600;

    &--red {
      color: red;
    }
  }
}

.item-menu {
  position: absolute;
  top: 45px;
  right: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 5px;

  padding: 0 5px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0, 0.1);

  z-index: 100;

  &__item {
    text-align: left;
    padding: 5px;

    border-bottom: 1px solid lightgray;

    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
      border-bottom: unset;
    }
  }

  &__btn {
    border: none;
    outline: none;
    cursor: pointer;

    background-color: inherit;
  }
}
